
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@media (max-width:1000px) and (min-wdith:610px) and (min-resolution:1990dpi){
.HeaderMob{
    display:none;
}
*{
    
    --color:white;
    --nameFont:'Audiowide', cursive;
    --descFont:'Averia Serif Libre', cursive;
}.Header{
    width:100dvw;
    height: 14dvh;
    min-height:100px;
    min-width:1100px;
    z-index:1;
    position:fixed;
    display:grid;
    top:0;
    // height:50vh;
      background-color:rgb(5, 40, 105);//rgba(4, 35, 91, 1);//rgb(38, 90, 196);//rgb(72, 115, 203);//rgb(20, 52, 117);////rgb(96, 133, 202);
    background-size: contain;
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline:0;
    // border: 2px solid pink;
    background-repeat:no-repeat;
}
.container{
    width:100%;
    
    height:100%;
    // border: 21px solid grey;
    box-sizing: border-box;
    display:flex;
    position:relative;
    
    
    gap:1rem;
    // border:2px solid black;
    
    
    
}
.rightHeader{
//  border:2px solid red;
 position:absolute;
 right:1rem;top: 1dvh;

 
}
.leftHeader{
    // border:2px solid white;
    margin:auto auto;
    height:100%;
    flex:1;
    display:flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    width:60%;

}


.social{
    // border:2px solid black;
    width:100%;
    display:flex;
    flex-direction: column;
    align-self: flex-end;
    height:100%;
    font-family: 'Noto Sans JP', sans-serif;

    gap:1.5rem;
    flex-direction: row;
    justify-content: center;
    // border:2px solid rgb(206, 149, 149);
}
.social>div{

    height:100%;
    box-sizing: border-box;
    gap:0.5rem;
    // background-color:Red;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(214, 220, 226);
    flex-direction: row;
}
.lLogo,.gLogo,.mLogo{
 width:1.5rem;
 height:1.5rem;
//  border:2px solid green;
}
.lLogo{
    background: url("../in96.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.gLogo{
    background: url("../ghwhite.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.mLogo{
    background: url("../gmail.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.logo{
  
    // border:2px solid red;
    position:absolute;
    right:0;
    height:100%;
    
    align-self: center;
    display:flex;
    
  
}


.logo .aws{
    width:6rem;
    height:6rem;
    padding-top:1dvh;
    
    // border:2px solid yellow;
    
     
     
    
    background: url("https://images.credly.com/size/340x340/images/b9feab85-1a43-4f6c-99a5-631b88d5461b/image.png");
    background-size: contain;
    background-origin:content-box;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
    
    
    
    
    

}

.logo .binghamton{
    width:6rem;
    height:7rem;
    padding-top:0.75rem;
    
    // border:2px solid yellow;
    
     
     
    
    background: url("https://www.binghamton.edu/assets/img/logo/binghamton-icon.png");
    background-size: contain;
    background-origin:content-box;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
    
    
    
    
    

}
.HeaderMob{
    display:none;
}
.avatar{
    background-image: url("../stand.jpeg");
    background-repeat: no-repeat;
    background-size: 150% 230%;
    width:9rem;
    height:9rem;
    background-position-x: 40%;
    
    bottom:-60%;
    left:10dvw;
    border:5px solid white;
    position:absolute;
    
    border-radius:10rem;

}
.leftTop{
    width:100%;
    height:50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    // border:2px solid red;

}
.leftBottom{
    // border:2px solid yellow;
    
    height:50%;
    width:100%;
    box-sizing: border-box;

}
body{
    margin:0;
    
}
.nav{
    
}

}