@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Averia+Serif+Libre:ital,wght@1,300&family=Young+Serif&display=swap');
.Nav{
    display: flex;
    
    
    align-self: flex-end;
    height:80%;
    align-items: flex-end;
    justify-content: center;
    

    box-sizing: border-box;
    z-index:1;
    position:relative;
    margin:auto auto;
    border-bottom: 2px solid blue;
    
    margin-top:1rem;
    
    font-family: 'Young Serif', serif;
    font-size: 1.2rem;
    
}
.Nav a:active{
 
}
.navItems{
    color:rgb(245, 245, 245);
    padding:0.5rem;
    
}
.navItems:hover{
    
    background-color: rgba(255, 255, 255, 0.844);
    color:red;//
    border-radius:0.25rem;
}
.Nav a:link{
    color:white;
    text-decoration: none;
}
.Nav a:hover{
    color:rgb(72, 115, 203);
    text-decoration: none;
}