
// @media (max-resolution:190dpi) and (min-width:1000px){
   
// @keyframes type{
//     0%{width:0%;left:100%;}
//     20%{width:20%;left:80%;}
//     40%{width:40%;left:60%;}
//     60%{width:60%;left:40%;}
//     80%{width:80%;left:20%;}
//     100%{width:100%;left:0%;}
//     // 0%{width:0%;left:45vw;}
//     // 20%{width:1.7rem;left:40vw;}
//     // 40%{width:calc(2 * 2.7rem);left:35vw;}
//     // 60%{width:calc(6*1.7rem);left:30vw;}
//     // 80%{width:calc(8  * 1.7rem);left:25vw;}
//     // 100%{width:calc(11.5 * 1.7rem);left:40vw;}
    
    
    
// }
// }