
@media(min-width:601px){
.booksCont{
    // border:2px solid red;
    width:100%;
    z-index:-1;
    padding-top:12rem;
    padding-left:1rem;
    
    display:flex;
    flex-direction: column;
    background: repeating-linear-gradient(135deg, rgb(215, 216, 224) 0%,black 20% , rgb(27, 87, 199) 105%);
    align-items: center;
    box-sizing: border-box;

    

}
.booksNav{
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans JP', sans-serif;
    color:white;
    // border:2px solid green;
    justify-content: center;
    width:40%;
    gap:0.5rem;
    font-size: 1.25rem;
}
.selectedNavBooks{
     border:2px solid rgb(219, 214, 214);
    text-decoration: dashed;
    color:rgb(27, 87, 199);
    background-color:rgb(219, 214, 214);
}
.booksNav a:link{
    text-decoration: none;
}
.booksContent{
    width:100%;
    // border:2px solid gold;
}

.booksContent .ZeroToOne, .booksContent .essentialism{
    width:100%;
//  border:2px solid black;
box-sizing: border-box;
 display: flex;
 flex-direction: row;
 justify-content: center;
 
 align-items: center;
 justify-content: center;
//  border:2px solid brown;
 gap:1.5rem;

}

.ztoI{
    background:url("../zto.jpeg") ;
    background-size: contain;
    background-repeat:no-repeat;
    width:12rem;
    // border:2px solid black;
    box-shadow: 2px 1px 5px 1px black;
    
    height:18rem;
    

}
.eI{
    background:url("../essential.jpeg") ;
    background-size: contain;
    background-repeat:no-repeat;
    width:27rem;
    // border:2px solid black;
    box-shadow: 2px 1px 5px 1px black;
    
    height:27rem;
    

}
.ztoC,.eC{
    color:white;
    
    
    
    
    width:70rem;
    padding-right:0.5rem;
    font-size:1.1rem;
    
    font-family: 'Noto Sans JP', sans-serif;
}
}