@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Averia+Serif+Libre:ital,wght@1,300&family=Open+Sans:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
.Home{
    // border: 2px solid green;
    width:100vw;
    margin-top:6rem;
    
    font-family: 'Libre Franklin', sans-serif;
    // border:2px solid red;
    padding-top:5%;
    
    
    
    
}

.Skills{
padding-left:8%;
    // background-color: rgb(179, 189, 228);
float:right;
    width:70%;
box-sizing: border-box;
    position:relative;
    
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    height:10rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    box-shadow: 1px 1px 5px -1px rgba(10, 0, 0, 0.939);


}

.WhoAmI{
height:30vh;
width:100vw;
clear:right;
background-color:rgb(179, 189, 228);
margin-top:15rem;
}
.bold{
    font-weight: 400;
}
.skillsLogo{
    position:absolute;
    width:10rem;
    height:10rem;
    
    // background: url("../coding.png");
    background-size: contain;
    filter: drop-shadow(1px -1px 5px grey);
    background-repeat: no-repeat;
    left:-5%;
    top:0rem;

}