
@media (min-resolution:190dpi) and (min-width:1000px){
    .general{

    //  border:2px solid rgb(225, 225, 225);;
    z-index:-1;
    padding-top:12rem;
     text-align: justify;
     min-height: 900px;
     background: repeating-linear-gradient(135deg, rgb(215, 216, 224) 0%,black 20% , rgb(27, 87, 199) 105%);
     .intro{
        width:70%;
        margin:auto auto;
        color:white;
        font-family:"Noto Sans JP", sans-serif
     }
     p{
        font-weight: 700;
        font-family:"Noto Sans JP", sans-serif;
        color:white;
        margin:auto auto;
        width:70%;
        display:flex;
        justify-content: center;
        margin-top:2rem;
        
     }
     .skillsexp{
        // border:2px solid black;
        color:white;
        
        padding:1rem;
        width:70%;
        display:flex;
        justify-content: center;
        gap:1rem;
        margin:auto auto;
        font-weight: 700;
        font-family:"Noto Sans JP", sans-serif;
        
            .categories{
                display:inline-flex;
                
                // border:2px solid red;
                gap:0.5rem;
                flex-direction: column;
                div{
                    border:2px solid rgb(225, 225, 225);
                    // background: linear-gradient(to right bottom,rgb(225, 225, 225);,  rgba(27, 87, 199, 0.487));
                    padding:0.25rem;
                }
            
            }
            .skilllist{
                display:inline-flex;

                // border:2px solid red;
                gap:0.5rem;
                justify-content: space-between;
                padding:0.25rem;
                // border:2px solid red;
                flex-direction: column;
            
            }
    }
     .skills{
        // border:2px solid red;
     }

     .skillimgs{
        display:flex;
        width:30%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        // border: 2px solid black;
        // height: clamp(100px,15rem, 150px);
        margin:auto auto;
        div{
            // border:2px solid blue;
            height:5rem;
            width:21%;

        }
        .docker{
            background: url("../docker.png");
            background-size: contain;
            background-repeat: no-repeat;
        }

        .aws{
            align-self: flex-end;
            background: url("../awsl.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
        .java{
            align-self: flex-end;
            background: url("../java.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
        .c{
            align-self: flex-end;
            background: url("../c.png");
            background-position: 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .linux{
            align-self: flex-end;
            background: url("../linux.png");
            background-position: 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        
        .sql{
            align-self: flex-end;
            background: url("../sql.png");
            background-position: 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .sql{
            align-self: flex-end;
            background: url("../sql.png");
            background-position: 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .mern{
            align-self: flex-end;
            background: url("../mern.png");
            background-position: 50%;
            width:55%;
            min-width:300px;
            background-size: cover;
            justify-self: center;
            background-repeat: no-repeat;
        }
        
        

     }
     
    }
}