.footer{

    width:100vw;
    height:15.25rem;
    box-sizing: border-box;
    // background: url("../gnu.png");
display:flex;
flex-direction: row;
gap:0rem;
    background-size:contain;
    background-repeat: no-repeat;
}

.f1{
    width:30.1%;
    box-sizing: border-box;
    background: url("../gnu.png");

    background-size:contain;
    background-repeat: no-repeat;
}

.f2{
    width:30.1%;box-sizing: border-box;
    
    
    background: url("../docker.jpeg");

    background-size:contain;
    background-repeat: no-repeat;
}

.f3{
    width:30.5%;box-sizing: border-box;
    
    
    background: url("../mongo.jpeg");

    background-size:contain;
    background-repeat: no-repeat;
}

.f4{
    width:30%;box-sizing: border-box;
    
    
    background: url("../js.png");

    background-size:contain;
    background-repeat: no-repeat;
}

.footer{
    filter:blur(4px);
}