@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Averia+Serif+Libre:ital,wght@1,300&family=Open+Sans:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
.Items{
    
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: flex-start;
      border: 2px solid green;

}


.pBox.Chess{
    
    
    // display:block;
    
    // align-items: center;
    // gap:1rem;
    width:90%;
    display:flex;
    gap:1rem;
    padding: 0;
    
    // border:2px solid lightblue;
    
    
    
    

    
    
}
.pBox p{
    font-family: 'Open Sans', sans-serif;
}
.oShaw{
    box-shadow:-5px -5px 5px -5px grey,2px 1px 10px -10px grey;
}
.oShaw:hover{
    box-shadow:-5px -5px 5px -5px rgb(62, 110, 187),10px 1px 10px -10px rgb(62, 110, 187);
}
.Chess:before{
    width:20vw;
    height:10%;
    background-color: black;
    opacity: 0.3;
    transform: skewY(-3deg);
    filter: blur(6px);

    position:absolute;
    bottom:-5px;
    z-index:-100;
    left:5px;
    content: "";

}
.Chess::after{
    width:30vw;
    height:10%;
    background-color: black;
    opacity: 0.3;
    transform: skewY(-3deg);
    filter: blur(6px);

    position:absolute;
    bottom:-5px;
    z-index:-100;
    left:5px;
    content: "";

}


.content.chessC{
    padding-top: 1rem;;
}
.Inker::before{
    width:30vw;
    height:10%;
    background-color: grey;
    opacity: 0.3;
    transform: skewY(-3deg);
    filter: blur(5px);

    position:absolute;
    bottom:-5px;
    z-index:-100;
    left:0px;
    content: "";

}
.eShaw{
    box-shadow:-5px -5px 5px -5px grey,10px 1px 10px -10px grey;
}


.InkerI{
background: url("../inker_128.png");
background-repeat: no-repeat;

background-size: contain;
 
width:30rem;
float:left;

height:17rem;
}

.Chess h2{
    margin:0;
}

.Inker{
    position:relative;
    background-color: white;
}
.Chess{
    position:relative;
    
    background-color: white;
}
.source{
    display:flex;
    align-items: center;
}

.gitLogo{
background:url("../gh1.png");
color:red;
width:2rem;
display: inline-block;
height: 2rem;
background-size: contain;
box-sizing: border-box;
background-position: 0rem 0%;
}
.webLogo{
    background:url("../browser.png");
    color:red;
    width:2rem;
    display: inline-block;
    height: 2rem;
    background-size: contain;
    box-sizing: border-box;
    background-position: 0rem 0%;
    }
.chessI{

    background:url("../chess.png");//https://user-images.githubusercontent.com/45854686/236359000-7f2b91e8-d25b-4721-849f-868aa4827afa.jpg
    background-size: contain;
    background-repeat: no-repeat;
    width:72rem;
    height:40vh;
    
    box-sizing: border-box;
    margin-right:0.1rem;
    float:left;
    margin-top:0.75rem;
    
    
}


.ParkI{

    background:url("https://user-images.githubusercontent.com/45854686/236359000-7f2b91e8-d25b-4721-849f-868aa4827afa.jpg");//https://en.wikipedia.org/wiki/Classic_RISC_pipeline#/media/File:Fivestagespipeline.png
    background-size: contain;
    
    background-repeat: no-repeat;
}
.RoverI{
    background:url("../Rover.png");
    background-size: contain;
    
    background-repeat: no-repeat;
}
.RISCI{

    background:url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Fivestagespipeline.png/400px-Fivestagespipeline.png");
    background-size: contain;
    align-self: center;
    background-repeat: no-repeat;
}


.Menu{

    width:15%;
    
    
    //  border:2px solid maroon;
}

.ProjectsContainer{
    width:95vw;
    
    // border:2px solid red;
    display:flex;
    
    margin:auto  auto;
    
    
    
    font-family: 'Libre Franklin', sans-serif;


    gap:1rem;
    
    
    
    padding-top:12rem;
    
    
}
