@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Averia+Serif+Libre:ital,wght@1,300&family=Open+Sans:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
.Items{
    
    scrollbar-color: white white;
    scrollbar-track-color: white;
    
    display:flex;
    
    flex-direction: column;
    
    align-items: flex-start;
    
    //   border: 2px solid green;
      
      width:90%;
      height:47vh;
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
      scroll-padding-bottom: 1rem;
      

}

.pBox.Chess{
    
    scroll-snap-align: start;
    // display:block;
    
    // align-items: center;
    // gap:1rem;
    width:100%;
    display:flex;
    scroll-snap-stop: always;
    gap:1rem;
    padding: 0;
    
    // border:2px solid lightblue;
}
.pBox.Inker{
    
    scroll-snap-align: start;
    // display:block;
    
    // align-items: center;
    // gap:1rem;
    width:100%;
    display:flex;
    margin-top:1rem;
    scroll-snap-stop: always;
    gap:1rem;
    padding: 0;
    margin-top:3rem;
    
    // border:2px solid lightblue;
}

.pBox.Park{
    
    scroll-snap-align: start;
    // display:block;
    
    // align-items: center;
    // gap:1rem;
    width:100%;
    
    display:flex;
    margin-bottom:4rem;
    scroll-snap-stop: always;
    gap:1rem;
    padding: 0;
    margin-top:3rem;
    
    
    
}
.pBox p{
    font-family: 'Open Sans', sans-serif;
}
.oShaw{
    box-shadow:-5px -5px 5px -5px grey,2px 1px 10px -10px grey;
}
.oShaw:hover{
    box-shadow:-5px -5px 5px -5px rgb(62, 110, 187),10px 1px 10px -10px rgb(62, 110, 187);
}
.Chess:before,.Inker::before,.Park::before{
    width:20vw;
    height:10%;
    background-color: black;
    opacity: 0.3;
    transform: skewY(-3deg);
    filter: blur(6px);

    position:absolute;
    bottom:-5px;
    z-index:-100;
    left:5px;
    content: "";

}
.Chess::after,.Inker::after,.Park::after{
    width:30vw;
    height:10%;
    background-color: black;
    opacity: 0.3;
    transform: skewY(-3deg);
    filter: blur(6px);

    position:absolute;
    bottom:-5px;
    z-index:-100;
    left:5px;
    content: "";

}



.content.chessC{
    padding-top: 1rem;
}

.eShaw{
    box-shadow:-5px -5px 5px -5px grey,10px 1px 10px -10px grey;
}



.Chess h2,.Inker h2,.Park h2{
    margin:0;
}

.Chess,.Inker,.Park{
    position:relative;
    
    background-color: white;
}
.source{
    display:flex;
    align-items: center;
}

.gitLogo{
background:url("../gh1.png");
color:red;
width:2rem;
display: inline-block;
height: 2rem;
background-size: contain;
box-sizing: border-box;
background-position: 0rem 0%;
}
.webLogo{
    background:url("../browser.png");
    color:red;
    width:2rem;
    display: inline-block;
    height: 2rem;
    
    background-size: contain;
    box-sizing: border-box;
    background-position: 0rem 0%;
    }
.chessI{

    background:url("../chess.png");//https://user-images.githubusercontent.com/45854686/236359000-7f2b91e8-d25b-4721-849f-868aa4827afa.jpg
    background-size: contain;
    background-repeat: no-repeat;
    width:88rem;
    height:100%;
    align-self: center;
    box-sizing: border-box;
    
    box-sizing: border-box;
    margin-right:0.1rem;
    
    margin-top:0.75rem;
    
    
}
.InkerI{

    background:url("../ink.png");//https://user-images.githubusercontent.com/45854686/236359000-7f2b91e8-d25b-4721-849f-868aa4827afa.jpg
    background-size: cover;
    background-repeat: no-repeat;
    width:85rem;
    background-color: 2pc solid blue;
    height:100%;
    box-sizing: border-box;
    
    box-sizing: border-box;
    margin-right:0.1rem;
    
    
    
    
}

.ParkI{

    background:url("../park.png");
    
    background-repeat: no-repeat;
    background-size: contain;
    margin:auto auto;
    width:79rem;

    height:100%;
    box-sizing: border-box;
    
    box-sizing: border-box;
    margin-right:0.1rem;
    
    
    
    
}
// 

.RI{

    background:url("../risc.png");
    
    background-repeat: no-repeat;
    background-size: contain;
    margin:auto auto;
    width:79rem;

    height:100%;
    box-sizing: border-box;
    
    box-sizing: border-box;
    margin-right:0.1rem;
    
    
    
    
}



.Menu{

    flex:1;
    
    
      
}

.ProjectsContainer{
    width:95vw;
    
    //  border:2px solid red;
    display:flex;
    
    margin:auto  auto;
    
    
    
    font-family: 'Libre Franklin', sans-serif;


    
    
    
    
    padding-top:12rem;
    
    
}
